{% extends 'base.html' %}

{% block content %}

{% if error %}
{{ error }}
{% endif %}

<br>
<br>

<div class="py-5 text-center">
    <img class="d-block mx-auto mb-4" src="/docs/4.4/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
  <div class="row">
    <div class="col-md-8 order-md-1">
      <h4 class="mb-3">Sign Up</h4>
      <form class="needs-validation" method="POST" action="{% url 'signup' %}">
      	{% csrf_token %}
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="firstName">First name</label>
            <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
            <div class="invalid-feedback">
              Valid first name is required.
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="lastName">Last name</label>
            <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
            <div class="invalid-feedback">
              Valid last name is required.
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="username">Username</label>
          <div class="input-group">
            <input type="text" class="form-control" id="username" name="username" placeholder="Username" required>
          </div>
        </div>

        <div class="mb-3">
          <label for="password">Password</label>
          <div class="input-group">
            <input type="password" class="form-control" id="password" name="password1" placeholder="password" required>
          </div>
        </div>

        <div class="mb-3">
          <label for="password2">Confirm password</label>
          <div class="input-group">
            <input type="password" class="form-control" id="password2" name="password2" placeholder="password" required>
          </div>
        </div>
        <div class="mb-3">
          <label for="email">Email <span class="text-muted">(Optional)</span></label>
          <input type="email" class="form-control" id="email" placeholder="you@example.com">
          <div class="invalid-feedback">
            Please enter a valid email address for shipping updates.
          </div>
          <br>
          <input class="btn btn-primary" type="submit" value="Sign Up!" >
        </div>
	   </form>    
	</div>
  </div>
</div>


{% endblock %}